<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>

<form action="/named-cat">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <input type="submit" value="Submit">
</form>

<div style='border: 10px dotted red'>
  <img src='http://bit.ly/1eze8aE'>
</div>
